
<div [ngSwitch]="type">
    <form *ngSwitchCase="'text'" [formGroup]="form">
        <mat-form-field stlye="width:100%;">
            <mat-label>{{ label }}</mat-label>
            <input matInput #input [placeholder]="placeholder" [formControlName]="fcn" autocomplete="off"
                (keyup)="event(keyuped, $event)" (keydown)="event(keydowned, $event)"
                (click)="event(clicked, $event)">
        </mat-form-field>
    </form>
    <button *ngSwitchCase="'button'" mat-raised-button color="primary" (click)="event(clicked, $event)">
        {{ label }}
    </button>
</div>
