<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <div class="navbar-collapse collapse w-100 dual-collapse2 order-1 order-md-0">
        <ul class="navbar-nav ml-auto text-center">
            <div class="home">
                <li class="nav-item active">
                    <a class="nav-link" href="#">CS470 GROUP PROJECT</a>
                </li>
            </div>
            <li class="nav-item">
                 <a class="nav-link" href="#">PAGE1</a>
             </li>
             <li class="nav-item">
                 <a class="nav-link" href="#">PAGE2</a>
             </li>
            <li class="nav-item">
                <a class="nav-link" href="#">PAGE3</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">PAGE4</a>
            </li>
            </ul>
        </div>
    </nav>

<br />

<mat-card *ngIf="user" class="card" style="display:flex; justify-content:center; align-items:center; border-radius: 10%;" >
        <mat-card-header>
                <mat-card-title><h1>{{user.UserName}}</h1></mat-card-title>
                <!-- <mat-card-subtitle><p>#{{user.UserHash}}</p></mat-card-subtitle> -->
 </mat-card-header>
         
        <img mat-card-lg-image [src]="user.ProfilePictureURL"
         height="300" [alt]="user.UserName">
        <br />
        <mat-card-content>
                <tr>
                        <th>DiscordUserID</th>
                        <th>UserHash</th>
                        <th>Currency</th>
                        <th>LastDaily</th>
                        <th>RaffleID</th>
                    </tr>
                    <tr>
                        <td>{{user.DiscordUserID}}</td>
                        <td>{{user.UserHash}}</td>
                        <td>{{user.Currency}}</td>
                        <td>{{user.LastDaily}}</td>
                        <td>{{user.RaffleID}}</td>
                    </tr>
        </mat-card-content>
        
        <mat-card-actions>
          <!-- <button mat-button>LIKE</button>
          <button mat-button>SHARE</button> -->
        </mat-card-actions>

</mat-card>

