<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <div class="navbar-collapse collapse w-100 dual-collapse2 order-1 order-md-0">
        <ul class="navbar-nav ml-auto text-center">
            <div class="home">
                <li class="nav-item active">
                    <a class="nav-link" href="#">CS470 GROUP PROJECT</a>
                </li>
            </div>
                <li class="nav-item">
                     <a class="nav-link" href="#">PAGE1</a>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link" href="#">PAGE2</a>
                 </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">PAGE3</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">PAGE4</a>
                </li>
        </ul>
    </div>
</nav>

<div class="app-mat-table mat-elevation-z6 userinfo">
    <app-mat-table *ngIf="table" [table]="table"></app-mat-table>
</div>