<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <div class="navbar-collapse collapse w-100 dual-collapse2 order-1 order-md-0">
        <ul class="navbar-nav ml-auto text-center">
            <div class="home">
                <li class="nav-item active">
                    <a class="nav-link" href="#">CS470 GROUP PROJECT</a>
                </li>
            </div>
            <li class="nav-item">
                 <a class="nav-link" href="javascript:void(0);" (click)="navigateToComponent('dashboard')">Dashboard</a>
             </li>
             <li class="nav-item">
                 <a class="nav-link" href="javascript:void(0);" (click)="navigateToComponent('userInfo')">UserInfo</a>
             </li>
            <!-- <li class="nav-item">
                <a class="nav-link" href="#">PAGE3</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0);" (click)="navigateToComponent('login')">LOGOUT</a>
            </li>
            </ul>
        </div>
    </nav>
