<br />
<div class="container border" style="background:#0c7a88; color:aliceblue;">
    <form [formGroup]="form" (keydown)="submitIfEnter($event)">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    Welcome to APPLICATION!
                </div>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-6">
                    <pre style="color:aliceblue;">
  ____   _____            _____    ____
 /      /         |    |       |  |    |
|       \____     |____|       |  |    |
|            \         |       |  |    |
 \____  _____/         |       |  |____|
                    </pre>
                </div>
                <div class="col-6 border">
                    <div *ngIf="tokenLogin" >
                        <div class="row">&nbsp;</div>
                        <div class="row">
                            <div class="col">Token</div>
                            <div class="col">
                                <input style="float:right;" type="text" formControlName="token"/>
                            </div>
                        </div>
                        <div class="row">&nbsp;</div>
                    </div>
                    <div *ngIf="!tokenLogin">
                        <div class="row">&nbsp;</div>
                        <div class="row">
                            <div class="col">Username</div>
                            <div class="col">
                                <input style="float:right;" type="text" formControlName="username"/>
                            </div>
                        </div>
                        <div class="row">&nbsp;</div>
                        <div *ngIf="!tokenLogin" class="row">
                            <div class="col">Password</div>
                            <div class="col">
                                <input style="float:right;" type="password" formControlName="password"/>
                            </div>
                        </div>
                        <div class="row">&nbsp;</div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-sm" style="float:left;" (click)="tokenLogin = !tokenLogin">
                                {{ tokenLogin ? 'User/Pass' : 'Token' }}
                            </button>
                        </div>
                        <div class="col">
                            <button class="btn btn-sm" style="float:right;" (click)="login()">LOGIN</button>
                        </div>
                    </div>
                    <div class="row">&nbsp;</div>
                </div>
            </div>
            <div class="row">&nbsp;</div>
        </div>
    </form>
</div>
